.pageHeader {
  text-align: center;
  padding: 1em;
}
.shop {
  flex-basis: 25%;
  border: 1px dotted;
  padding: 0.25em;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
